<div>
  <div class="jumbotron sty">
    <h1> Angular 5 Service </h1>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Todo List</h3>
    </div>
    <div class="panel-body">
      <button class="btn btn-primary" (click)='addTodo()'>Add Todo</button>
      <hr>
      <table class="table table-responsive">
        <thead>
          <tr>
            <th>UserId</th>
            <th>Id</th>
            <th>Title</th>
            <th>Completed</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let tod of todos'>
            <td>{{ tod.UserId }}</td>
            <td>{{ tod.Id }}</td>
            <td>{{ tod.Title }}</td>
            <td>{{ tod.Completed?'Completed':'In Progress' }}</td>
            <td><button class="btn btn-primary" (click)='getTodoById(todo.Id)'>View Todo</button></td>
            <td><button class="btn btn-primary" (click)='updateTodo(todo)'>Update Todo</button></td>
            <td><button class="btn btn-primary" (click)='deleteTodo(todo)'>Delete Todo</button></td>
          </tr>
        </tbody>
      </table>
    </div>


  </div>
</div>